<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">Liste des offres</div>
    <div class="card-body">


      <form  #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group ">
          <label> filtrer par Categorie</label>
          <input type="text" name="keyword" ngModel>
          <button type="submit" class="btn btn-primary">chercher</button>
        </div>
      </form>


<table *ngIf="offres" class="table ">
  <thead class="thead">
   <tr >
     <th>Id-Offre</th>
     <th>image</th>
     <th>Categorie</th>
     <th>Ville</th>
     <th>Description</th>
     <th>Date d'Offre</th>
     <button class="btn btn-primary" routerLink="/nvoffre">Ajouter Un offre</button>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let o of  offres._embedded.offres">
      <td>{{o.id_offre}}</td>
      <td> <img src="{{o.imageUrl}}" height="60"/> </td>
      <td> {{o.domaine}}</td>
      <td>{{o.ville}}</td>
      <td>{{o.description}}</td>
      <td>{{o.dateOffre}}</td>
      <td><a  class=" btn btn-success"  (click)="onEditeOfrre(o)">Modifer</a></td>
      <td><a (click)="onDeleteOffre(o)" class="btn btn-danger" >Supprimer</a></td>
    </tr>
  </tbody>
</table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li  class="clickeable" *ngFor="let p of pages; let i=index">
         <button (click)="ongetpageoffre(i)" [ngClass]="i ==curentPage?'active' : ''">{{i}}</button>
        </li>
      </ul>
</div>

  </div>
  </div>

<router-outlet></router-outlet>
