<app-navbar></app-navbar>
<div class="container align-content-center">
  <div class="row">
    <div class="col-md-9 mt-3">
    <div class="card">
      <div class="card-header col-md">Login</div>
      <div class="card-body">
      <form (ngSubmit)="login()">
        <h3>Espace Client</h3>
        <div class="form-group p-2">
          <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Email " required>
        </div>
        <div class="form-group p-2">
          <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
        </div>
        <div class="form-group p-2">
          <button type="submit" class="btn btn-primary">S'autentifier</button>
          <div class="register"><a href="#" routerLink="/authentication">Inscription</a></div>
        </div>
      </form>
      </div>
      <div class="form-group">
        <p *ngIf="errorMessage.length > 0" class="text-danger">
          {{errorMessage}}</p>

        <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>
      </div>
    </div>

  </div>
</div>
