<div class="container position-relative">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/listeoffres">Interships.ma</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/cv"> Créer un CV en ligne </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/contact">Contacter Nous</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="/offres" data-toggle="dropdown" >
        Consultation des offres
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="/offres" data-toggle="dropdown" >
        Mes Condidatures
      </a>
    </li>
  </ul>
  <ul class="navbar-nav  ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="/authentication"  data-toggle="dropdown">
        Espace Condidat
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/loginAdmin">Admin</a>
        <a class="dropdown-item" routerLink="/inbox">Boite de messages </a>
      </div>
    </li>
  </ul>

</nav>
<router-outlet></router-outlet>
<div>
