<!--
<app-navbar></app-navbar>
<div class="col-md-2">
<app-listoffres></app-listoffres>
</div>
<div class="col-md-10">
</div>
-->

<div class="container">
  <router-outlet></router-outlet>



<div class="card-footer bg-dark container">
  <td>
    <th><a class="nav-link"  routerLink="/listeoffres">Contactez nous</a></th>
    <th><a class="nav-link"  routerLink="/listeoffres">Privacy Policy</a></th>
    <th><a class="nav-link"  routerLink="/listeoffres">Contactez nous</a></th>

  <td>
</div>

</div>
