
<app-navbar></app-navbar>
<h1 class="container col-md-5 mt-2 border-1"> Cv en ligne</h1>
<div class="container  mt-5">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header col-md">Informations personnels</div>
      <div class="card-body">

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label >Nom</label>
              <input type="text" class="form-control"  placeholder="Nom">
            </div>
            <div class="form-group col-md-6">
              <label >Prénom</label>
              <input type="text" class="form-control"  placeholder="Prénom">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label >Phone Number</label>
              <input type="tel" class="form-control"  placeholder="Phone Number">
            </div>
            <div class="form-group col-md-6">
              <label >Email</label>
              <input type="email" class="form-control"  placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label>Adress</label>
            <input type="text"  class="form-control" name="imageUrl" ngModel>
          </div>

          <div class="form-group">
            <label>Uploader votre Photo </label>
            <input type="file"  class="form-control" name="image" >
          </div>

          <div class="form-group">
            <label>Experience</label>
            <input type="text"  class="form-control" name="imageUrl" ngModel>
          </div>
          <button class="btn btn-success" type="submit" >Valider</button>
        </form>








      </div>
    </div>
  </div>
</div>
